.newsdata{
width:1170px;
padding: 5px 15px;	
margin: 5px auto
}
.newsdata h1{
	color:#337ab7;
	font-size:1.5em;
}
.feed{padding:10px}
.feed.odd{
	background-color:#f1f1f1;
}
/*customise*/
.navbar-default{
	background-color: #060634;
    border-color: #000024;
    color: #fff;
	border-bottom: 15px solid #2196f3;
}
.navbar-default .navbar-nav > li > a,.navbar-default .navbar-brand{
	color:#fff;font-weight:bold
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color:#fff;
}
.navbar-brand{
	font-size: 30px
}
.navbar-default .navbar-nav > li > a{
	font-size: 16px
}
.container{
	padding: 1em
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color:#2196f3
}
.meteor-blog-admin{
	padding-top: 50px
}
footer{
	margin-top: 100px;
	background: #ccc;
}
footer a{
	font-size: 16px;
	margin-right: 20px;
	color:#333;
}
#commentable-area{
	padding: 10px 25px;
	font-size: 18px
}
.meteor-blog-single .meteor-blog-back-link{
	margin-left:25px;
	
}
.meteor-blog-single .share-buttons{
	margin-right: 25px
}
